/* styles.css */

/* Estilo para o botão */
#btnVoltar {
    -fx-background-color: #FF6347; /* Cor de fundo vermelha */
    -fx-text-fill: white; /* Cor do texto branco */
    -fx-font-size: 14pt;
}

/* Estilo para a tabela */
#tableEstoque {
    -fx-background-color: #ffe6e6; /* Cor de fundo vermelho claro */
}

/* Estilo para os cabeçalhos da tabela */
.table-view .column-header {
    -fx-background-color: #FF6347; /* Cor de fundo vermelha para os cabeçalhos */
    -fx-text-fill: white; /* Cor do texto branco */
    -fx-font-size: 12pt;
}

/* Estilo para o texto das células */
.table-row-cell {
    -fx-text-fill: black; /* Cor do texto preto */
}

/* Estilo para o texto */
.text {
    -fx-fill: #FF6347; /* Cor do texto vermelho */
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}
